.col-xl-6.col-12
  .box-content
    %h4.box-title Movies
    / /.box-title
    %table.table.table-striped.margin-bottom-10
      %thead
        %tr
          %th{:style => "width:40%;"} Title
          %th Year
          %th Actors
          %th Country
          %th Options
      %tbody
      - @movies.each do |movie|
        %tr
          %td 
            = movie.title
          %td 
            = movie.year
          %td 
            = movie.actors
          %td 
            = movie.country
            
        
            


  