.container
  %p.float-right
    %a{:href => "https://getbootstrap.com/docs/4.3/examples/album/#"} Back to top
  %p Album example is © Bootstrap, but please download and customize it for yourself!
  %p
    New to Bootstrap?
    %a{:href => "https://getbootstrap.com/"} Visit the homepage
    or read our
    = succeed "." do
      %a{:href => "https://getbootstrap.com/docs/4.3/getting-started/introduction/"} getting started guide