.container
  %h1 Search
  = render partial: "admin/movies/form"
  %br/
- if @movies
  .col-xl-6.col-12
  .box-content
    %h3.box-title.text-center.mb-4
      %strong Movies
    %table.table.table-striped.margin-bottom-10
      %thead
        %tr
          %th Title
          %th Year
          %th Options
      %tbody
      - @movies.each do |movie|
        %tr
          %td 
            = movie["Title"]
          %td 
            = movie["Year"]
          %td
            - if Movie.all.pluck(:imdb_id).include? movie['imdbID']
              %i Added
            - else
              = link_to "Add to DB", new_admin_movie_path(id: movie['imdbID'])

